aiohttp-asgi
aiohttp
aiosignal
anyio
asgiref
async-timeout
attrs
charset-normalizer
click
colorama
fastapi
frozenlist
gunicorn
h11
httptools
idna
imagehash
lru-dict
multidict
numpy
packaging
pillow
pydantic
pyparsing
pytesseract
python-decouple
python-dotenv
pywavelets
pyyaml
scipy
six
sniffio
starlette
typing-extensions
# uvicorn
# uvloop
# watchgod
# websockets
# yarl
